.storeAllOrders {
  width: 100%;
  max-height: calc(100vh - 50px);
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.storeAllOrdersContainer {
  background-color: #fff;
  width: 70%;
  border: 1px solid #ccc;
  max-height: calc(100vh - 50px);
  position: relative;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.storeAllOrdersContainer::-webkit-scrollbar {
  width: 0 !important; /* Hide scrollbar for Chrome, Safari, and Opera */
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.storeAllOrders .storeFilterOptions {
  width: 100%;
}

.storeAllOrders .storeFilterOptionsContainer {
  padding: 10px 20px;
  display: flex;
}

.storeAllOrders .storeFilterOptionsContainer > div {
  flex: 1;
}

.storeAllOrders .storeFilterOptions h2 {
  font-size: 19px;
  font-weight: 500;
}

.storeAllOrders .filterSelect {
  display: flex;
  gap: 20px;
  align-items: center;
}

.storeAllOrders .filterSelect .filterSelectItem {
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 90px;
  font-size: 14px;
}

.storeAllOrders .filterSelect .filterSelectItem ul {
  position: absolute;
  top: 37px;
  left: 0;
  max-height: 0;
  background-color: #fff;
  width: 100%;
  border-radius: 0 0 15px 15px;
  border: 1px solid #ccc;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
  z-index: 20;
}

.storeAllOrders .filterSelect .filterSelectItem ul.open {
  max-height: 200px;
  transition: max-height 0.25s ease-in-out;
}

.storeAllOrders .filterSelect .filterSelectItem ul li {
  text-align: left;
  padding: 5px 10px;
  cursor: pointer;
}

.storeAllOrders .filterSelect .filterSelectItem ul li:hover {
  background-color: #f0f2f5;
}

.storeAllOrders .selected {
  background-color: #f0f2f5;
}

.storeAllOrders .filterByDate {
  display: flex;
  gap: 15px;
  align-items: center;
}

.storeAllOrders .filterByDate .inputDateContainer {
  display: flex;
  gap: 5px;
}

.storeAllOrders .filterByDate .inputDateContainer > div{
  border: 0.5px solid #ccc;
  padding: 5px 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.storeAllOrders .filterByDate .inputDateContainer input:focus {
  outline: none;
}

.storeOrdersFilter {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 0 30px;
}

.storeOrdersFilter ul {
  display: flex;
  gap: 5px;
}

.storeOrdersFilter ul li {
  list-style: none;
  cursor: pointer;
  padding: 15px 20px;
  cursor: pointer;
}

.active {
  border-bottom: 3px solid #3a9cc5;
  color: #3a9cc5;
  font-weight: 500;
}

.storeAllOrders .storeOrders {
  width: 100%;
}

.storeAllOrders table {
  width: 100%;
  height: 80%;
  position: relative;
}

.storeAllOrders table thead,
.tbody {
  width: 100%;
}

.storeAllOrders table thead tr {
  display: flex;
  width: 100%;
  padding: 15px 30px 15px 60px;
  background-color: #f6f6f6;
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
}

.storeAllOrders table thead tr th {
  flex: 1;
  font-size: 17px;
  /* padding: 0 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.storeAllOrders table tbody {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  min-height: 75vh;
  max-height: 75vh;
  padding-bottom: 25px;
}

.storeAllOrders table tbody tr {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.storeAllOrders table tbody .orderInfo {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  margin: 0 25px;
  border: 1px solid #ccc;
  border-radius: 8px 8px 0 0;
  border-bottom: none;
}

.storeAllOrders table tbody .orderInfo .customer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.storeAllOrders table tbody .orderInfo .customer img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.storeAllOrders table tbody .orderInfo .orderRight {
  display: flex;
  gap: 50px;
}

.storeAllOrders table tbody .orderInfo .orderRight .orderCode {
  display: flex;
  align-items: center;
  gap: 5px;
}

.storeAllOrders table tbody tr .products {
  border: 1px solid #ccc;
  margin: 0 25px 30px 25px;
  border-radius: 0 0 8px 8px;
}

.storeAllOrders table tbody tr .productsInfo {
  display: flex;
  padding: 10px 0;
  background-color: #fff;
}
.storeAllOrders table tbody tr .productsInfo > div {
  flex: 1;
  font-weight: normal;
  /* padding: 0 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.storeAllOrders table tbody tr .productsInfo > div .container {
  border-left: 1px solid #ccc;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.storeAllOrders table tbody tr .productsInfo .productImage {
  max-width: 60px;
  max-height: 60px;
  min-width: 60px;
  min-height: 60px;
  object-fit: cover;
}

.storeAllOrders table tbody tr .productButtons {
  display: flex;
  gap: 15px;
  align-items: center;
  /* justify-content: center; */
}

.storeAllOrders table tbody tr .products .total {
  background-color: #fff;
}

.storeAllOrders table tbody tr .products .totalContainer {
  border-top: 1px solid #ccc;
  margin: 0 100px;
  padding: 15px 0;
  gap: 15px;
  display: flex;
  justify-content: flex-end;
}

.storeAllOrders table tbody tr .products .totalContainer .totalPriceRight {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.storeAllOrders .products .totalContainer .totalPriceRight .totalPrice {
  font-weight: 500;
  font-size: 18px;
}

.storeAllOrders table tbody tr .products .totalContainer span {
  font-weight: 500;
  font-size: 20px;
}

.storeAllOrders table tbody tr .products .totalContainer .totalPriceTxt {
  margin-right: 150px;
}

.storeAllOrders table tbody tr .products .totalContainer button {
  width: 180px;
  height: 50px;
}

.storeAllOrders .orderNav {
  position: sticky;
  bottom: 0px;
  left: 0;
  z-index: 20;
  background-color: #fff;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storeAllOrders .orderNavContainer {
  width: 100%;
  display: flex;
  gap: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.storeAllOrders .orderNav .orderNavBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  cursor: pointer;
}

.storeAllOrders .orderNav .orderPerPage {
  display: flex;
  align-items: center;
  position: absolute;
  right: 30px;
  top: 0;
}

.storeAllOrders .orderNav .orderPerPageContainer {
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
}

.storeAllOrders .orderNav .orderPerPageOptions {
  position: absolute;
  left: 0;
  bottom: 42px;
  background-color: #fff;
  z-index: 20;
  border-radius: 15px 15px 0 0;
  width: 100%;
}

.storeAllOrders .orderNav .orderPerPageButton {
  display: flex;
  align-items: center;
  gap: 10px;
}

.storeAllOrders .orderNav .orderPerPageButton span {
  font-size: 15px;
}

.storeAllOrders .orderNav .orderPerPageOptions ul {
  display: flex;
  flex-direction: column;
  gap: 0;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.storeAllOrders .orderNav .orderPerPageOptions ul.open {
  max-height: 150px;
  transition: max-height 0.25s ease-in-out;
}

.storeAllOrders .orderNav .orderPerPageOptions ul li {
  width: 100%;
  text-align: center;
  padding: 5px 10px;
}

.storeAllOrders .orderNav .orderPerPageOptions ul li:hover {
  background-color: #f5f5f5;
}
.storeAllOrders .orderNav .prevBtn,
.nextBtn {
  padding: 10px;
}

.storeAllOrders .orderNav span {
  font-size: 18px;
  font-weight: 500;
}

.storeAllOrders .orderNav input {
  width: 20px;
  height: 100%;
}

.storeAllOrders .orderNav input:focus {
  outline: none;
}

.storeAllOrders .selected {
  background-color: #f0f2f5;
}

.storeAllOrders .noItem {
  min-width: 70%;
  max-width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.storeAllOrders .noItem img {
  object-fit: cover;
}

.storeAllOrders .noItem .noItemText {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  height: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.storeAllOrders .noItem .noItemText h2 {
  font-weight: bold;
  font-size: 30px;
}

.storeAllOrders .noItem .noItemText span {
  font-size: 15px;
  color: #ccc;
}

@media screen and (max-width: 1400px) {
  .storeAllOrdersContainer {
    width: 90%;
  }

  .storeAllOrders table tbody {
    min-height: 60vh;
    max-height: 60vh;
  }
}

@media screen and (max-width: 950px) {
  .storeAllOrdersContainer {
    width: 100%;
  }
}
