.search {
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  top: 60px;
  left: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.35s ease-in-out;
}

.search.open {
  max-height: 90vh;
  transition: max-height 0.35s ease-in-out;
}

.searchContainer {
  padding: 0 0;
}

.recentSearch {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.recentSearch h2 {
  font-weight: bold;
  font-size: 18px;
  padding: 10px 15px 0 15px;
}

.recentSearch ul {
  display: flex;
  flex-direction: column;
}

.recentSearch ul li {
  list-style: none;
  cursor: pointer;
  padding: 8px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recentSearch ul li:hover {
  background-color: #f0f2f5;
}

.recentSearch ul li span {
  width: 90%;
}

.recentSearch ul li .deleteIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recentSearch ul li .deleteIcon:hover {
  background-color: lightgray;
}

.search .searchBody {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 0;
}

.searchBody .searchProducts {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.searchBody .searchProducts .searchProductHeading {
  font-weight: 500;
  font-size: 17px;
  padding: 0 15px;
}

.searchBody .searchProducts li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.searchBody .searchProducts li:hover {
  background-color: #f8f8f8;
}

.searchBody .searchProducts li .searchProductLeft {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 8px 15px;
}

.searchBody .searchProducts li .searchProductLeft img {
  max-width: 50px;
  min-width: 50px;
  min-height: 50px;
  max-height: 50px;
  object-fit: cover;
}

.searchBody .searchProducts li .searchProductLeft .productInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.searchBody .searchProducts li .searchProductLeft h2 {
  font-weight: 500;
  font-size: 17px;
  padding: 0;
}

.searchBody .searchProducts li .searchProductLeft h3 {
  font-weight: 400;
  font-size: 11px;
}

.searchBody .searchStores {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.searchBody .searchStores .searchStoreHeading {
  font-weight: 500;
  font-size: 17px;
  padding: 0 15px;
}

.searchBody .searchStores li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.searchBody .searchStores li:hover {
  background-color: #f8f8f8;
}

.searchBody .searchStores li .searchStoreLeft {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 8px 15px;
}

.searchBody .searchStores li .searchStoreLeft img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.searchBody .searchStores li .searchProductLeft .productInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.searchBody .searchStores li .searchProductLeft h2 {
  font-weight: 500;
  font-size: 14px;
  padding: 0;
}
.search .noResultText {
  padding: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.hide {
  display: none;
}
