.updatePassword {
  background-color: #f5f5f7;
  width: 100%;
  padding: 20px 0;
}

.updatePasswordContainer {
  width: 80%;
  margin: auto; 
  background-color: #ffffff;
}

.updatePasswordTitle {
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.updatePasswordBody {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.updatePassword ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 25px;
  padding-left: 50px;
}

.updatePassword ul li {
  list-style: none;
}

.updatePassword input {
  border: 1px solid lightgray;
  padding: 10px 150px 10px 10px;
  margin-left: 20px;
}

.updatePassword input:focus {
  outline: none;
}


.updatePassword button {
  width: 130px;
  background-color: #232f3e;
  padding: 10px 15px;
  color: white;
  margin-left: -10px;
}


@media screen and (min-width: 1200px) {
  .updatePasswordContainer {
    width: 65% !important;
  }
}