.categoryFilter {
  width: 100%;
  margin-bottom: 40px;
  padding-top: 10px;
  background-color: #ffffff !important;
}

.categoryFilter .categoryFilterContainer {
  max-width: 100%;
  overflow: hidden;
}

.categoryFilter .categoryFilterHeading {
  font-size: 30px;
  font-weight: 600;
  padding: 10px 20px 20px 20px;
  background-color: #fff;

}

.categoryFilter .categories {
  position: relative;
  overflow: visible;
}

.categoryFilter .categories ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 0 10px;
  background-color: #fff;
  /* display: grid;
  grid-template-columns: repeat(5, 17%); */
}

.categoryFilter .categories ul li {
  width: 120px;
  height: 150px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.categoryFilter .categories ul li:hover {
  overflow: visible;
}

.categoryFilter .categories ul li .categoryContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  list-style: none;
  border: 0.25px solid lightgray;
  /* border-right: none; */
  padding: 10px;
  position: relative;
  transition: all 0.15s ease;
  box-sizing: border-box; /* Include borders and padding in width/height */
  position: relative; /* Add relative positioning */
  overflow: hidden;
}

.categoryFilter .categories ul li:hover .categoryContainer {
  width: 130px;
  height: 160px !important;
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.5);
  background-color: rgb(241, 245, 243);
  transform: translate(0px, 0px);
  z-index: 10;
  overflow: visible;
}

.categoryFilter .categories ul li .imageContainer {
  width: 65px;
  height: 45px;
  border-radius: 50%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(217, 217, 217, 1) 0%,
    rgba(247, 247, 247, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.categoryFilter .categories ul li img {
  max-width: 60px;
  max-height: 60px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.categoryFilter .categories ul li span {
  font-weight: 500;
}

.categoryFilter .categories > div {
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: lightgray;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  cursor: pointer;
}

.categoryFilter .categories .prevBtn {
  position: absolute;
  top: 50%;
  left: 0px;
  overflow: visible;
  transform: translateY(-50%);
}

.categoryFilter .categories .nextBtn {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  padding: 0 !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0c1d26;
  border-radius: 15px;
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 1500px) {
}
