.productBody {
  margin: auto;
  display: flex;
  padding: 30px 0;
  gap: 20px;
}

.productBody .productLeft {
  background-color: #ffffff;
  border-radius: 10px;
}

.productLeft .productLeftContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.productLeft .productLeftContainer .productCurrentImage {
  min-width: 350px;
  max-width: 350px;

  min-height: 350px;
  max-height: 350px;
  cursor: pointer;
}

.productLeft .productLeftContainer .productCurrentImage img {
  min-width: 350px;
  max-width: 350px;

  min-height: 350px;
  max-height: 350px;

  object-fit: contain;
}

.productBody .productRight {
  flex: 6;
  background-color: #ffffff;
  border-radius: 10px;
}

.productBody .productRight .productRightContainer {
  padding: 20px;
}

.productRight .productName {
  text-align: left;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 15px;
}

.productRight .productName h2 {
  font-size: 25px;
  font-weight: bolder;
  color: #1c1c1b;
  padding-bottom: 8px;
}

.productRight .productName .productReviewInfo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.productRight .productName .productReviewInfo .productStar {
  display: flex;
  gap: 5px;
}


.productRight .productName .productReviewInfo .productStar .productRating {
  font-size: 20px;
  text-decoration: underline;
}

.productRight .productName .productReviewInfo .productStar .sold {
  border-left: 1px solid #ccc;
  padding-left: 15px;
  font-size: 18px;
}

.productRight .productName .productReviewInfo .reviewCount {
  font-size: 18px;
  padding-right: 10px;
}

.productRight .productPrice {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border-bottom: 1px solid #dee2e6;
  color: red;
}

.productRight .productPrice .price {
  font-size: 28px;
  line-height: 20px;
  margin-bottom: 10px;
}

.price-symbol {
  font-size: 15px;
  float: left;
  margin-right: 5px;
}

.productRight .productDescription {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

.productRight .productDescription tbody {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.productRight .productDescription tbody tr {
  display: flex;
}

.productRight .productDescription tbody tr .productHeading {
  flex: 1;
  font-size: 18px;
  width: 70px;
}

.productRight .productDescription tbody tr .productContent {
  flex: 2.5;
  font-weight: normal;
  display: flex;
  align-items: flex-end;
  font-size: 14px;
}

.productRight .productDescription ul li {
  display: flex;
  list-style: none;
  gap: 10px;
}

.productRight .productDescription ul li h4 {
  font-size: 15px;
  color: #1c1c1b;
  font-weight: bold;
}

.productRight .productDescription ul li .quantityText {
  display: flex;
  align-items: flex-start !important;
}

.productRight .productDescription ul li span {
  font-size: 13px;
  margin-bottom: 0;
}

.productRight .productDescription .productQuantity {
  display: flex;
  border: 1px solid #ccc;
}

.productRight .productDescription .productQuantity:hover {
  cursor: pointer;
}

.productRight .productDescription .productQuantity .minus,
.plus {
  padding: 5px 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productRight .productDescription .productQuantity .quantity {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 5px 23px;
}

.productRight .productDescription .productButtons {
  display: flex;
  gap: 20px;
  padding-top: 30px;
  justify-content: flex-end;
}

.productRight .productDescription .productButtons button {
  padding: 10px 18px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: #003140;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.productRight .productDescription .productButtons button:hover {
  background-color: #00587c;
}

.productRight .productDescription .productButtons button span {
  font-size: 16px;
  font-weight: 400;
}

.product .storeInfo {
  width: 100%;
  padding-bottom: 20px;
}

.storeInfo .storeInfoContainer {
  display: flex;
  margin: auto;
  padding: 20px;
  gap: 15px;
  background-color: #fff;
  border-radius: 8px;

}

.storeInfo .storeInfoContainer .storeLeft {
}

.storeInfo .storeInfoContainer .storeLeft img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.storeInfo .storeInfoContainer .storeRight {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.storeInfo .storeInfoContainer .storeRight .storeName {
  font-size: 17px;
}

.storeInfo .storeInfoContainer .storeRight .storeButtons {
  display: flex;
  gap: 10px;
}

.storeInfo .storeInfoContainer .storeRight .storeButtons button {
  padding: 12px 16px;
  display: flex;
  gap: 7px;
  border-radius: 12px;
  align-items: center;
  background-color: #003140;
  color: #fff;
  font-weight: normal;
  font-size: 15px;
}

.storeInfo .storeInfoContainer .storeRight .storeButtons button:hover {
  background-color: #00587c;
}

.storeName {
  font-weight: bold !important;
}

.product .productDesc {
  padding: 20px 0;

}

.product .productDesc .descText {
  font-size: 26px;
  font-weight: 600;
}

.productDesc .productDescContainer {
  background-color: #ffffff;
  padding: 15px;
  margin-top: 15px;
  font-size: 16px;
  border-radius: 8px;

}

.productDesc .productDescContainer span {
  text-decoration: underline;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
}

.productRight .buyNowBtn {
  position: relative;
}

.productRight .buyNowBtn .alternativeBuyNowIcon {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translateY(-50%);
  opacity: 0;
}

.productRight .buyNowBtn:hover .buyNowIcon {
  animation-name: moveRight;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.productRight .buyNowBtn:hover .alternativeBuyNowIcon {
  opacity: 1;
  left: 75%;
  transition: left 0.75s ease;
  transition: opacity 1s;
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(40px);
  }
}

.plus:active {
  background-color: rgb(90, 148, 233);
  color: black;
}

.minus:active {
  background-color: rgb(90, 148, 233);
  color: black;
}

.imageDisplay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageDisplayContainer {
  width: 65%;
  height: 500px;
  background-color: white;
  display: flex;
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
}

.imageDisplayLeft {
  flex: 6;
  padding: 20px;
}

.imageDisplayLeft img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageDisplayRight {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10px 20px 0;
}

.imageDisplayRight h2 {
  font-size: 20px;
  font-weight: 500;
}

.imageDisplayRight ul {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.imageDisplayRight ul li {
  list-style: none;
  width: 80px;
  height: 80px;
}

.imageDisplayRight ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.selectedBorder {
  border: 3px solid #00587c;
}

.hide {
  display: none;
}
@media screen and (min-width: 1700px) {
  .productLeft .productLeftContainer .productCurrentImage {
    min-width: 450px !important;
    max-width: 450px !important;

    min-height: 450px !important;
    max-height: 450px !important;
  }

  .productLeft .productLeftContainer .productCurrentImage img {
    min-width: 450px !important;
    max-width: 450px !important;

    min-height: 450px !important;
    max-height: 450px !important;
  }
}

@media screen and (max-width: 768px) {
  .productBody {
    display: block;
  }
  .productLeft {
    width: 100%;
  }

  .productLeftContainer {
    justify-content: center;
    align-items: center;
  }

  .productCurrentImage {
    min-width: 450px !important;
    max-width: 450px !important;
    min-height: 400px !important;
    max-height: 400px !important;
  }

  .productCurrentImage img {
    min-width: 450px !important;
    max-width: 450px !important;
    min-height: 400px !important;
    max-height: 400px !important;
  }
  .productRight {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {

  .productCurrentImage {
    min-width: 350px !important;
    max-width: 350px !important;
    min-height: 300px !important;
    max-height: 300px !important;
  }

  .productCurrentImage img {
    min-width: 350px !important;
    max-width: 350px !important;
    min-height: 300px !important;
    max-height: 300px !important;
    object-fit: cover !important;
  }
  .productRight {
    width: 100%;
  }
}