.store {
  width: 100%;
  height: calc(100vh - 70px);
  overflow-y: scroll;
  background-color: #F5F5F5;
}

.storeContainer {
  padding: 20px;
}

.storeContainer .storeProducts {

}

.storeContainer .storeProducts .filterSection {
  background-color: #EDEDED;
  display: flex;
  gap: 15px;
  padding: 20px;
  align-items: center;
}

.storeContainer .storeProducts .filterSection > span {
  font-weight: 500;
  font-size: 20px;
}

.storeContainer .storeProducts .filterSection > ul {
  display: flex;
  gap: 15px;
  align-items: center;
}

.filterSection ul li {
  list-style: none;
  background-color: #fff;
  cursor: pointer;
}
.filterSection ul li button {
  padding: 8px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.filterSection ul li button .filterOptions {
  position: absolute;
  top: 43px;
  left: 0;
  max-height: 0;
  background-color: #fff;
  width: 100%;
  border-radius: 0 0 15px 15px;
  border: 1px solid #ccc;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
  z-index: 20;
  display: flex;
  flex-direction: column;
}

.filterSection ul li button .filterOptions.open {
  max-height: 200px;
  transition: max-height 0.25s ease-in-out;
}

.filterSection ul li button .filterOptions li {
  cursor: pointer;
  width: 100%;
  height: 30px
}
.filterSection ul li button .filterOptions li:hover {
  background-color: #f0f2f5;
}

.storeProductsDisplay {
  padding-top: 20px;
}

.storeProductsDisplay ul {
  width: 100%;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}
.storeProducts .selected {
  background-color: #0C1D26 !important;
  color: #fff;
  font-weight: 500 !important;
}

@media screen and (min-width: 1500px) {
  
.storeProductsDisplay ul {
  width: 80%;
  margin: auto;
}
}