.store {
  width: 100%;
  height: calc(100vh - 70px);
  overflow-y: scroll;
  background-color: #fff;
}

.storeContainer {
  margin: auto;
}

.store .storeInfo {
  background-color: #fff;
}

.store .storeInfoContainer {
  width: 80%;
  display: flex;
}

.store .storeInfoLeft {
  display: flex;
  gap: 15px;
  align-items: center;
  background-color: #f0f2f5;
  padding: 15px;
  border-radius: 15px;
  flex: 1;
}

.store .storeInfoLeft img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.store .storeInfoLeft .storeName {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.store .storeInfoLeft .storeName h2 {
  font-weight: 500;
  font-size: 23px;
}

.store .storeInfoLeft .storeName span {
  font-weight: normal;
  font-size: 16px;
  width: fit-content;
}

.store .storeInfoRight {
  flex: 2;
  display: flex;
  gap: 40px;
  align-items: center;
  padding-left: 20px;
}

.store .storeInfoRightCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  flex: 1;
}

.store .storeInfoRightCol .storeInfoIcon {
  width: 20px;
  flex: 1;
}

.store .storeInfoItem {
  display: flex;
  gap: 10px;
  align-items: center;
}

.store .storeInfoItem span {
  font-weight: 500;
  flex: 9;
}

.store .storeInfoItem span > span {
  color: #02a07d;
}

.store .storeCoupons {
  width: 80%;
  margin: auto;
  padding: 0 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.store .storeCoupons .couponListWrapper {
  position: relative;
}

.store .storeCoupons .couponList {
  overflow: hidden;
}

.store .storeCoupons .couponListContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.5s ease;
  max-width: 100%;
}

.store .storeCoupons .couponListWrapper .couponPrevBtn,
.couponNextBtn {
  position: absolute;
  top: 40%;
  z-index: 20;
  width: 30px;
  height: 30px;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 15px;
  cursor: pointer;
}

.store .storeCoupons .couponListWrapper .couponPrevBtn:hover,
.couponNextBtn:hover {
  animation: hover-scale-up 0.2s forwards;

}

.store .storeCoupons .couponListWrapper .couponPrevBtn {
  left: -13px;
}

.store .storeCoupons .couponListWrapper .couponNextBtn {
  right: -13px;
}

.store .storeCoupons .voucher {
  border: 0.25px solid #ccc;
  min-width: 340px;
  max-width: 340px !important;
}

.store .storeCoupons .voucher .voucherLeft {
  border: none;
}

.store .storeCoupons .voucher .voucherLeft .voucherDescription {
  height: 27px;
}

.store .voucherImage {
  background: #9dd8f1;
}

.store .voucherImage img {
  object-fit: cover;
  border-radius: 50%;
}

.store .voucherRight {
  position: relative;
  height: 100%;
}

.store .voucherRight button {
  width: 70%;
  border: 1px solid #ccc;
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 5px;
}

.store .storeCouponsContainer > h2 {
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 15px;
}

.store .storeDescription {
  background-color: #fff;
  width: 80%;
  margin: auto;
  padding: 0 15px;
}

.store .storeDescription h2 {
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 15px;
}

.store .storeDescriptionContainer {
  background-color: #f0f2f5;
  padding: 15px;
  border-radius: 15px;
}

.storeContainer .storeProducts {
}

.storeContainer .storeProducts .filterSection {
  background-color: #fff;
}
.storeContainer .storeProducts .filterSectionContainer {
  width: 80%;
  display: flex;
  gap: 15px;
  padding: 20px;
  align-items: center;
  margin: auto;
}

.storeContainer .storeProducts .filterSectionContainer > span {
  font-weight: 500;
  font-size: 20px;
}

.storeContainer .storeProducts .filterSectionContainer > ul {
  display: flex;
  gap: 15px;
  align-items: center;
}

.filterSection ul li {
  list-style: none;
  background-color: #fff;
  border-radius: 8px;

  cursor: pointer;
}
.filterSection ul li button {
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  min-width: 80px;
}

.filterSection ul li button:hover {
  background-color: #f0f2f5;
  border-radius: 8px;
}

.filterSection ul li button .filterOptions {
  position: absolute;
  top: 43px;
  left: 0;
  max-height: 0;
  background-color: #fff;
  width: 100%;
  border-radius: 0 0 15px 15px;
  border: 1px solid #ccc;

  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
  z-index: 20;
  display: flex;
  flex-direction: column;
}

.filterSection ul li button .filterOptions.open {
  max-height: 200px;
  transition: max-height 0.25s ease-in-out;
}

.filterSection ul li button .filterOptions li {
  cursor: pointer;
  width: 100%;
  height: 30px;
}
.filterSection ul li button .filterOptions li:hover {
  background-color: #f0f2f5;
}

.storeProductsDisplay {
  padding-top: 20px;
  padding-bottom: 100px;
  background-color: #f0f2f5;
}

.storeProductsDisplay ul {
  width: 80%;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 25px;
  margin: auto;
}
.storeProducts .selected {
  background-color: #0c1d26 !important;
  color: #fff;
  font-weight: 500 !important;
  border-radius: 8px;
}

.store .readMoreText {
  font-weight: 500;
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
}

.store .footer {
  background-color: #0c1d26;
  margin-top: 0;
}

@keyframes hover-scale-up {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }
}

@media screen and (min-width: 1700px) {
  .storeProductsDisplay ul {
    margin: auto;
  }

  .store .storeCoupons {
    width: 70%;
  }

  .store .storeDescription {
    width: 70%;
  }

  .store .storeInfoContainer {
    width: 70%;
  }

  .storeContainer .storeProducts .filterSectionContainer {
    width: 70%;
  }
  .storeProductsDisplay ul {
    width: 70%;
  }
}

@media screen and (max-width: 1440px) {
  .storeInfoLeft {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .storeInfoLeft .storeName {
    align-self: center !important;
    justify-content: center;
  }

  .storeInfoLeft .storeName h2 {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .storeContainer .storeProducts .filterSectionContainer > ul {
    flex-wrap: wrap;
  }
}
