.addProduct {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 70px);
  overflow-y: scroll;
}

.addProductContainer {
  width: 80%;
  margin: auto;
  background-color: #ffffff;
  padding: 15px 25px;
  border-radius: 12px;
  margin-top: 20px;
}

.addProduct .productInfo {
}

.productInfo h2 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 30px;
}

.productInfo table {
  width: 100%;
}

.productInfo table tbody {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.productInfo table tr {
  display: flex;

  gap: 20px;
  width: 100%;
}

.productInfo table tr .productHeading {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 500;
}

.productInfo table tr td {
  width: 100%;
}

.productInfo table tr td .inputField {
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 8px;
  width: 90% !important;
  display: flex;
}

.productInfo table tr td .inputField input {
  width: 80%;
  padding-left: 5px;
}

.productInfo table tr td .inputField .inputCharacter {
  border-left: 1px solid lightgray;
  padding-left: 10px;
  padding-right: 5px;
}

.productInfo table tr td .inputField .currencyCharacter {
  border-right: 1px solid lightgray;
  padding-right: 10px;
}

.productInfo table tr td input:focus {
  outline: none;
}

.productInfo table tr td textarea {
  padding: 0px 5px 60px 5px;
  border: none;
  border-radius: 8px;
  width: 100%;
}

.productInfo table tr td textarea:focus {
  outline: none;
}

.productInfo table tr td .inputField .textareaCharacter {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
}

.productInfo table tr td .addImage {
  width: 100px;
  height: 100px;
  border: 1px dashed lightgray;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.productInfo table tr td .addImage .addImageIcon {
  font-size: 27px;
}

.productInfo table tr td .addImage span {
  font-weight: 500;
  text-align: center;
}

.addBtn {
  padding: 15px 20px;
  border-radius: 8px;
  background-color: #003140;
  color: #fff;
}

.addBtn:hover {
  background-color: #00587c;
}
