.singleProduct {
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #ffffff;
  text-decoration: none;
  position: relative;
  list-style: none;
  min-width: 220px;
  max-width: 220px;
  cursor: pointer;
  min-height: 345px;
  max-height: 345px;
  overflow: hidden;
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
  border-radius: 5px;
}

.singleProduct:hover {
  transform: translateY(-4px);
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.6);
  border: 1px solid #0c1d26;
  border-radius: 8px;
}



.singleProductImage {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 5px 5px 0 0;
}

.singleProductInfo {
  padding: 0 10px;
}

.singleProductTitle {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: fit-content;
  padding-bottom: 5px;
}

.singleProductName {
  font-size: 14px !important;
  color: #0c1d26;
  font-weight: 600;
  height: 30px;
}

.singleProductCategory {
  font-size: 16px;
  font-weight: 600;
  text-align: right;
}

.singleProductDesc {
  font-size: 13px;
  padding-bottom: 100px;
  height: 25px;
  display: block;
}

.singleProductRating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

.singleProductRating .singleProductStar {
  display: flex;
  align-items: center;
  gap: 5px;
}
.singleProductRating span {
  color: gray;
  font-size: 14px;
}

.singleProductPrice {
  color: red;
  font-weight: 500;
  display: flex;
}

.singleProductCity {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
}
.favoriteText {
  width: 40%;
  height: 22px;
  position: absolute;
  top: 6px;
  left: -1px;
  background: rgb(43, 223, 186);
  background: linear-gradient(
    90deg,
    rgba(43, 223, 186, 1) 0%,
    rgba(36, 213, 176, 1) 19%,
    rgba(0, 157, 122, 1) 95%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 0 0px 0;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.78);
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.78);
}
