.product {
  background-color: #f5f5f7;
  width: 100%;
}

.productContainer {
  width: 80%;
  margin: auto;
}



.product .productReview {
  padding: 20px 0;
}

.product .productReview .reviewText {
  font-size: 26px;
  font-weight: 600;
}

.product .productReview .productReviewContainer {
  background-color: #ffffff;
  padding: 25px 35px;
  margin-top: 15px;
}

.productReview .customerReviews {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.customerReviews ul {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 25px;
}

.customerReviews ul li {
  display: flex;
  gap: 15px;
}

.customerReviews ul li .reviewLeft img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.customerReviews .customerImages {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 15px;
}

.customerReviews .customerImages img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.productReview .writeReview {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.writeReview .writeReviewText {
  font-size: 18px;
  color: #777777;
  font-weight: 600;
}

.writeReview textarea {
  border-radius: 5px;
  border: 1px solid gray;
  height: 150px;
  padding: 10px;
}

.writeReview .submitReview {
  width: auto;
  display: flex;
  justify-content: flex-end;
}

.writeReview .submitReview button {
  border-radius: 25px;
  padding: 10px 30px;
  background-color: #0c1d26;
  color: #ffffff;
}



/* 
.singleProduct {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
  cursor: pointer;
} */


@media screen and (min-width: 1700px) {
  .productContainer {
    width: 65% !important;
  }
}


@media screen and (max-width: 768px) { 
  .productContainer {
    width: 100%;
  }
}