.navbar {
	position: fixed;
	top: 0;
	left: 0;
  width: 100%;
  height: 70px;
  z-index: 100;
	display: flex;
	align-items: center;
  justify-content: center;
	background-color: #0C1D26;
}

.navbarContainer {
	width: 80%;
	display: flex;
  align-items: center;
	gap: 15px;
}

.navbarLogo {
	flex: 3;
	display: flex;
	align-items: center;
}

.navbarLogo .logo {
	width: 200px;
}
.navbarSearch {
	flex: 4;
	display: flex;
	align-items: center;
  position: relative;
}

.navbarMenu {
	flex: 3;
	display: flex;
	align-items: center;
  gap: 30px;
  justify-content: flex-end;
}

.navbarMenu .navbarWishlist {
	display: flex;
	align-items: center;
  gap: 20px;
}

.navbarMenu .navbarWishlist .wishlistText{
	color: white;
}
.header-top-strip {
  border-bottom: 1px solid var(--color-3b4149);
  background-color: var(--color-131921);
}
.header-upper {
  background-color: #0c1d26;
}
.header-bottom {
  background-color: var(--color-232f3e);
}
.header-upper .input-group-text {
  background-color: var(--color-febd69);
}
.header-upper.header-upper-links img {
  width: 35px;
  height: 35px;
}
.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}
.header-bottom .dropdown-menu {
  background-color: var(--color-131921);
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important;
}
.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}
.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: var(--color-febd69) !important;
}

.userSetting {
  position: relative;
}

.userSetting .userAvatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.userSetting:hover .userOptions {
  display: block;
}

.userOptions {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 100;
  width: 170px;
  height: auto;
  background-color: var(--color-131921);
  color: white;
  border-radius: 5px;
  transform: scale(0);
  transform-origin: top right;
  animation: scale-up 0.1s ease-in-out forwards;
  display: none;
}

.userOptions li {
  padding: 10px 15px;
  cursor: pointer;
  list-style: none;
  border-bottom: 1px solid var(--color-3b4149);
}

.userOptions li:hover {
  color: var(--color-febd69) !important;
}

.right-aligned-elements {
  position: absolute;
  top: 10px;
  right: 20px;
}

.navbar .cartBtn {
  position: relative;
  cursor: pointer;
}

.navbar .cartBtn .cartBadge {
  position: absolute;
  top: -5px;
  right: -15px;
  width: 27px;
  height: 19px;
  border-radius: 50%;
  background-color: #FBBB68;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  color: #0C1D26;
}

.navbar .cartBtn:hover .cartPreview {
  display: block;
}

@keyframes scale-up {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) { 
  .navbarContainer {
    gap: 15px;
  }

  .navbarLogo {
    flex: 2;
    padding-top: 4px;
  }

  .navbarLogo .logo {
    width: 150px;
  }

  .navbarMenu {
    flex: 2;
  }

  /* .navbarSearch .input-group input {
    display: none;
  } */

  .navbarSearch .input-group span {
    border-radius: 5px !important;
  }

  .navbarMenu {
    padding-right: 0;
    justify-content: flex-end;
    gap: 20px;
  }

  .navbarSearch {
    max-height: 45px;
  }

  .navbarMenu > div > a{
    gap: 5px !important;
  }
}

@media screen and (max-width: 480px) {
  .navbarLogo {
    display: none;
  }
}

@media screen and (min-width: 1700px) {
  .navbarContainer {
    width: 65%;
  }
}
