.adminAllProducts {
  width: 100%;
  max-height: calc(100vh - 55px);
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  min-width: 1200px;
}



.adminAllProductsContainer {
  background-color: #fff;
  width: 95%;
  height: calc(100vh - 55px);
  border: 1px solid #ccc;
  position: relative;
}

.adminAllProducts .adminFilterOptions {
  width: 100%;
}

.adminAllProducts .adminFilterOptionsContainer {
  padding: 10px 20px;
  display: flex;
}

.adminAllProducts .adminFilterOptionsContainer > div {
  flex: 1;
}

.adminAllProducts .adminFilterOptions h2 {
  font-size: 19px;
  font-weight: 500;
}

.adminAllProducts .filterSelect {
  display: flex;
  gap: 20px;
  align-items: center;
}

.adminAllProducts .filterSelectItem {
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 90px;
  font-size: 14px;
}

.adminAllProducts .filterSelectItem ul {
  position: absolute;
  top: 37px;
  left: 0;
  max-height: 0;
  background-color: #fff;
  width: 100%;
  border-radius: 0 0 15px 15px;
  border: 1px solid #ccc;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
  z-index: 20;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.adminAllProducts .filterSelectItem ul::-webkit-scrollbar {
  display: none;
}
.adminAllProducts .filterSelectItem ul.open {
  max-height: 200px;
  transition: max-height 0.25s ease-in-out;
}

.adminAllProducts .filterSelectItem ul li {
  text-align: left;
  padding: 5px 10px;
  cursor: pointer;
}

.adminAllProducts .filterSelectItem ul li:hover {
  background-color: #f0f2f5;
}

.adminAllProducts .selected {
  background-color: #f0f2f5;
}

.openOption {
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.25s ease-in-out;
}

.openOption.rotate {
  transform: rotate(-180deg);
  transition: transform 0.25s ease-in-out;
}

.adminProductsFilter {
  border-bottom: 1px solid #ccc;
  padding: 0 30px;
}

.adminProductsFilter ul {
  display: flex;
  gap: 5px;
}

.adminProductsFilter ul li {
  list-style: none;
  cursor: pointer;
  padding: 15px 20px;
  cursor: pointer;
}

.active {
  border-bottom: 3px solid #3a9cc5;
  color: #3a9cc5;
  font-weight: 500;
}

.adminAllProducts .adminProducts {
  width: 100%;
  height: fit-content;
  max-height: 70%;
  padding-bottom: 60px;
}

.adminAllProducts table {
  width: 100%;
  height: 100%;
  position: relative;
}

.adminAllProducts table thead,
.tbody {
  width: 100%;
}

.adminAllProducts table thead tr {
  display: flex;
  width: 100%;
  padding: 12px 30px;
  background-color: #f6f6f6;
}

.adminAllProducts table thead tr th {
  flex: 1;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.adminAllProducts table tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 75vh;
  max-height: 75vh;
  overflow-y: scroll;
  margin-bottom: 60px;
  overflow-x: hidden;
}

.adminAllProducts table tbody tr {
  display: flex;
  width: 96%;
  border-bottom: 1px solid #ccc;
  padding: 8px 0px;
  margin: 0 30px;
}

.adminAllProducts table tbody tr th {
  flex: 1;
  font-weight: normal;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adminAllProducts table tbody tr th .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 100%;
}

.adminAllProducts table tbody tr th img {
  max-width: 45px;
  max-height: 45px;
  min-width: 45px;
  min-height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

/* .adminAllProducts table tbody tr th .container .productLongInfo {
  height: 48px;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  scrollbar-width: none;
  -ms-overflow-style: none;
}*/
.adminAllProducts table tbody tr th .container .productName {
  height: 50px;
  overflow-y: scroll;
}

.adminAllProducts table tbody tr th .container .productName::-webkit-scrollbar {
  display: none;
}

.adminAllProducts table tbody tr th .container .productOperationIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.adminAllProducts table tbody tr th .container .productOperationIcon:hover {
  background-color: #f0f2f5;
}

.adminAllProducts table tbody tr .productButtons {
  display: flex;
  gap: 15px;
  align-items: center;
  /* justify-content: center; */
}

.adminAllProducts .productNav {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 20;
  background-color: #fff;
  height: 50px;
  /* padding-bottom: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.adminAllProducts .productNavContainer {
  width: 100%;
  display: flex;
  gap: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.adminAllProducts .productNav .productNavBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  cursor: pointer;
}

.adminAllProducts .productNav .productPerPage {
  display: flex;
  align-items: center;
  position: absolute;
  right: 30px;
  bottom: 0;
}

.adminAllProducts .productNav .productPerPageContainer {
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
}

.adminAllProducts .productNav .productPerPageOptions {
  position: absolute;
  left: 0;
  bottom: 42px;
  background-color: #fff;
  z-index: 20;
  border-radius: 15px 15px 0 0;
  width: 100%;
}

.adminAllProducts .productNav .productPerPageButton {
  display: flex;
  align-items: center;
  gap: 10px;
}

.adminAllProducts .productNav .productPerPageButton span {
  font-size: 15px;
}

.adminAllProducts .productNav .productPerPageOptions ul {
  display: flex;
  flex-direction: column;
  gap: 0;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.adminAllProducts .productNav .productPerPageOptions ul.open {
  max-height: 150px;
  transition: max-height 0.25s ease-in-out;
}

.adminAllProducts .productNav .productPerPageOptions ul li {
  width: 100%;
  text-align: center;
  padding: 5px 10px;
}

.adminAllProducts .productNav .productPerPageOptions ul li:hover {
  background-color: #f5f5f5;
}
.adminAllProducts .productNav .prevBtn,
.nextBtn {
  padding: 10px;
}

.adminAllProducts .productNav span {
  font-size: 18px;
  font-weight: 500;
}

.adminAllProducts .productNav input {
  width: 20px;
  height: 100%;
}

.adminAllProducts .productNav input:focus {
  outline: none;
}

.confirmDelete {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}
.confirmDeleteContainer {
  width: 500px;
  height: 120px;
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
}

.confirmDelete .deleteTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 20px;
}

.confirmDelete .deleteBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hide {
  display: none;
}

.adminAllProducts .noItem {
  object-fit: contain;
  max-width: 50%;
}

@media screen and (max-width: 1400px) {
  .adminAllProducts table tbody {
    min-height: 55vh;
    max-height: 55vh;
  }
}

@media screen and (max-width: 1400px) {
  .adminAllProductsContainer {
    width: 100%;
    padding: 15px 0 !important  ;
  }

  .adminAllProducts table tbody {
    /* min-height: 60vh;
    max-height: 60vh; */
  }
}

@media screen and (max-width: 950px) {
  .adminAllProducts {
    padding: 0;
  }
  .adminAllProductsContainer {
    width: 100%;
  }

  .adminAllProducts table tbody {
    /* min-height: 50vh;
    max-height: 50vh; */
  }
  /* .storeAllProducts table tbody {
    margin-bottom: 10px;
  } */
}

@media screen and (max-height: 1000px) {


  .adminAllProducts table tbody {
    min-height: 70vh;
    max-height: 70vh;
  }
  .storeAllProducts table tbody {
    margin-bottom: 10px;
  }
}

@media screen and (max-height: 700px) {


  .adminAllProducts table tbody {
    min-height: 60vh;
    max-height: 60vh;
  }
  .storeAllProducts table tbody {
    margin-bottom: 10px;
  }
}
