.storeAllProducts {
  width: 100%;
  max-height: calc(100vh - 55px);
  background-color: #f0f2f5;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.storeAllProductsContainer {
  background-color: #fff;
  width: 70%;
  height: calc(100vh - 55px);
  border: 1px solid #ccc;
  position: relative;
  min-width: 700px;
}

.storeAllProducts .storeFilterOptions {
  width: 100%;
}

.storeAllProducts .storeFilterOptionsContainer {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.storeAllProducts .storeFilterOptionsContainer > div {
  flex: 1;
}

.storeAllProducts .storeFilterOptions h2 {
  font-size: 19px;
  font-weight: 500;
}


.storeAllProducts .filterSelect {
  display: flex;
  gap: 20px;
  align-items: center;
}

.storeAllProducts .filterSelectItem {
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 90px;
  font-size: 14px;
}

.storeAllProducts .filterSelectItem ul {
  position: absolute;
  top: 37px;
  left: 0;
  max-height: 0;
  background-color: #fff;
  width: 100%;
  border-radius: 0 0 15px 15px;
  border: 1px solid #ccc;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
  z-index: 20;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.storeAllProducts .filterSelectItem ul::-webkit-scrollbar {
  display: none; 
}

.storeAllProducts .filterSelectItem ul.open {
  max-height: 200px;
  transition: max-height 0.25s ease-in-out;
}

.storeAllProducts .filterSelectItem ul li {
  text-align: left;
  padding: 5px 10px;
  cursor: pointer;
}

.storeAllProducts  .filterSelectItem ul li:hover {
  background-color: #f0f2f5;
}

.storeAllProducts .selected {
  background-color: #f0f2f5;
}

.openOption {
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.25s ease-in-out;
}

.openOption.rotate {
  transform: rotate(-180deg);
  transition: transform 0.25s ease-in-out;
}

.storeProductsFilter {
  border-bottom: 1px solid #ccc;
  padding: 0 30px;
}

.storeProductsFilter ul {
  display: flex;
  gap: 5px;
}

.storeProductsFilter ul li {
  list-style: none;
  cursor: pointer;
  padding: 15px 20px;
  cursor: pointer;
}

.active {
  border-bottom: 3px solid #3a9cc5;
  color: #3a9cc5;
  font-weight: 500;
}

.storeAllProducts .storeProducts {
  width: 100%;
  height: fit-content;
  max-height: 80%;
  padding-bottom: 10px;
}

.storeAllProducts table {
  width: 100%;
  height: 100%;
  position: relative;
}

.storeAllProducts table thead,
.tbody {
  width: 100%;
}

.storeAllProducts table thead tr {
  display: flex;
  width: 100%;
  padding: 15px 30px;
  background-color: #f6f6f6;
}

.storeAllProducts table thead tr th {
  flex: 1;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.storeAllProducts table tbody {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  max-height: 70vh;
  margin-bottom: 60px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.storeAllProducts table tbody tr {
  display: flex;
  width: 94%;
  padding: 12px 0;
  margin: 0 30px;
  border-bottom: 1px solid #ccc;
}

.storeAllProducts table tbody tr th {
  flex: 1;
  font-weight: normal;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storeAllProducts table tbody tr th .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.storeAllProducts table tbody tr th .productImage {
  max-width: 60px;
  max-height: 60px;
  min-width: 60px;
  min-height: 60px;
  object-fit: cover;
}

.storeAllProducts table tbody tr .productButtons {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.storeAllProducts table tbody tr .productButtons .productButtonContainer {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storeAllProducts table tbody tr .productButtons .productButtonContainer:hover {
  background-color: #f0f2f5;
}

.storeAllProducts .productNav {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 20;
  background-color: #fff;
  height: 50px;
  /* padding-bottom: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.storeAllProducts .productNavContainer {
  width: 100%;
  display: flex;
  gap: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.storeAllProducts .productNav .productNavBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  cursor: pointer;
}

.storeAllProducts .productNav .productPerPage {
  display: flex;
  align-items: center;
  position: absolute;
  right: 30px;
  bottom: 0;
}

.storeAllProducts .productNav .productPerPageContainer {
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;

}

.storeAllProducts .productNav .productPerPageOptions {
  position: absolute;
  left: 0;
  bottom: 42px;
  background-color: #fff;
  z-index: 20;
  border-radius: 15px 15px 0 0;
  width: 100%;
}

.storeAllProducts .productNav .productPerPageButton {
  display: flex;
  align-items: center;
  gap: 10px;
}

.storeAllProducts .productNav .productPerPageButton span {
  font-size: 15px;
}

.storeAllProducts .productNav .productPerPageOptions ul {
  display: flex;
  flex-direction: column;
  gap: 0;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;

}

.storeAllProducts .productNav .productPerPageOptions ul.open {
  max-height: 150px;
  transition: max-height 0.25s ease-in-out;

}

.storeAllProducts .productNav .productPerPageOptions ul li {
  width: 100%;
  text-align: center;
  padding: 5px 10px;
}

.storeAllProducts .productNav .productPerPageOptions ul li:hover {
  background-color: #f5f5f5;
}
.storeAllProducts .productNav .prevBtn,
.nextBtn {
  padding: 10px;
}

.storeAllProducts .productNav span {
  font-size: 18px;
  font-weight: 500;
}

.storeAllProducts .productNav input {
  width: 20px;
  height: 100%;
}

.storeAllProducts .productNav input:focus {
  outline: none;
}

.confirmDelete {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}
.confirmDeleteContainer {
  width: 500px;
  height: 120px;
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
}

.confirmDelete .deleteTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 20px;
}

.confirmDelete .deleteBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hide {
  display: none;
}

.storeAllProducts .noItem {
  object-fit: contain;
  max-width: 50%;
}

@media screen and (max-width: 1400px) {
  .storeAllProducts table tbody {
    min-height: 55vh;
    max-height: 55vh;
  }
}
@media screen and (max-width: 1400px) {
  .storeAllProductsContainer {
    width: 90%;
  }

  .storeAllProducts table tbody {
    min-height: 60vh;
    max-height: 60vh;
  }
}

@media screen and (max-width: 950px) {
  .storeAllProducts {
    padding: 0;
  }
  .storeAllProductsContainer {
    width: 100%;
  }

  .storeAllProducts table tbody {
    min-height: 50vh;
    max-height: 50vh;
  }
  /* .storeAllProducts table tbody {
    margin-bottom: 10px;
  } */
}

@media screen and (max-width: 1440px) {
  .storeAllProducts {
    padding: 0;
  }
  .storeAllProductsContainer {
    width: 90%;
  }

  .storeAllProducts table tbody {
    min-height: 50vh;
    max-height: 50vh;
  }
  /* .storeAllProducts table tbody {
    margin-bottom: 10px;
  } */
}


