.checkout {
  width: 100%;
  background-color: #f5f5f5;
  overflow: hidden;
  max-height: calc(100vh - 70px);
}

.checkoutContainer {
  width: 80%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.checkout .deliveryLocation {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #ffffff;
}

.checkout .deliveryTitle {
  display: flex;
  align-items: center;
  gap: 15px;
}

.checkout .deliveryTitle .locationIcon {
  color: red;
  font-size: 20px;
}
.checkout .deliveryTitle h2 {
  font-size: 20px;
  color: red;
  font-weight: 500;
}

.checkout .customerLocationInfo {
  display: flex;
  align-items: center;
  gap: 30px;
}

.checkout .customerLocationInfo .customerName,
.customerPhone {
  font-size: 17px;
  font-weight: 600;
}

.checkout .customerLocationInfo .defaultText {
  font-size: 10px;
  padding: 3px;
  border: 1px solid red;
  color: red;
}

.checkout .customerLocationInfo .changeLocationText {
  color: #4080ee;
  margin-left: 20px;
}

.checkout .checkoutProducts {
  background-color: #ffffff;
  padding: 20px;
}

.checkout .shopInfo {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-bottom: 10px;
}

.checkout .shopInfo .shopAvatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.checkout .shopInfo .shopName {
  font-size: 18px;
  font-weight: 500;
}

.checkout .shopInfo {
  display: flex;
  gap: 15px;
  align-items: center;
}
.checkout table {
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 1px solid lightgray;
}

.checkout table thead {
  margin-bottom: 15px;
}

.checkout table thead tr th {
  font-size: 15px;
  font-weight: 500;
  color: #bbb;
}

.checkout table tbody {
  display: flex;
  flex-direction: column;
}

.checkout table tbody tr td {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.checkout table tbody tr td img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.checkout .deliveryOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #fff;
}

.checkout .deliveryOption .deliveryPartner {
  display: flex;
  align-items: center;
  gap: 20px;
}

.checkout .deliveryOption .deliveryPartner .deliveryHeading {
  color: #0c1d26;
  font-weight: 500;
  font-size: 18px;
}

.checkout .deliveryOption .deliveryPartner .deliveryPartnerName {
  font-size: 15px;
}

.checkout .deliveryOption .deliveryPartner .deliveryChangeText {
  color: #4080ee;
}

.checkout .voucherOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #fff;
}

.checkout .voucherOptionContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.checkout .voucherOptionContainer h2 {
  color: #0c1d26;
  font-weight: 500;
  font-size: 18px;
}

.checkout .voucherOptionContainer .chosenVouchers {
  display: flex;
  gap: 10px;
}

.checkout .voucherOptionContainer .voucher {
  width: 240px;
  height: 75px;
}
.checkout .voucherOptionContainer .voucher .voucherOptionImage {
  height: 75px;
  max-width: 75px !important;
  min-width: 75px;
  background-color: rgb(43, 223, 186);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.checkout .voucherOptionContainer .voucher .voucherOptionImage.voucherStore {
  background-color: #9dd8f1 !important;
}

.checkout .voucherOptionContainer .voucher .voucherOptionImage img {
  width: 30px;
  height: 30px;
}

.checkout
  .voucherOptionContainer
  .voucher
  .voucherOptionImage.voucherStore
  img {
  border-radius: 50%;
  object-fit: cover;
}

.checkout .voucherOptionContainer .voucher .voucherOptionImage span {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
}

.checkout .voucherOptionContainer .voucherRemove {
  height: 100%;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout .voucherOptionContainer .voucherRemove:hover {
  background-color: #f0f2f5;
}

.checkout .totalProductPrice {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.checkout .cartTotal {
  background-color: #fff;
}

.checkout .cartTotalContainer {
  padding: 20px;
}

.checkout .cartTotalContainer tbody {
  display: flex;
  flex-direction: column;
}

.checkout .cartTotalContainer tbody tr {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.checkout .cartTotalContainer tbody tr .priceHeading {
  font-weight: 500;
  font-size: 18px;
}

.checkout .cartTotalContainer tbody tr .price {
  display: flex;
  justify-self: flex-end !important;
  font-size: 18px;
  font-weight: 500;
}

.checkout .cartTotalContainer tbody tr .priceTotalContainer {
  display: flex;
  gap: 10px;
}

.checkout .cartTotalContainer tbody tr .priceTotalContainer .initialPrice {
  text-decoration: line-through;
  font-size: 20px;
  color: gray;
  font-weight: 500;
}

.checkout .cartTotalContainer tbody tr .price.totalPrice span {
  font-size: 18px;
  color: red;
}

.checkout .cartTotalContainer tbody tr .price.totalPrice {
  font-size: 30px !important;
  color: red;
  font-weight: 600;
}

.checkout .paymentMethod {
  border-bottom: 1px solid lightgray;
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.checkout .paymentMethod .paymentItem {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px 10px;
  gap: 10px;
  cursor: pointer;
}

.checkout .paymentMethod .paymentItem img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.checkout .paymentMethod .paymentItem span {
  font-size: 15px !important;
}

.checkout .cartTotalPrice {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  padding-top: 15px;
}

.selectedPaymentMethod {
  background-color: #f0f2f5;
  border: 2px solid #26b99a !important;
}
.checkout .cartTotalPrice div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.checkout .cartTotalPrice button {
  border-radius: 25px;
  padding: 10px 30px;
  background-color: #0c1d26;
  color: #ffffff;
}

.chooseAddress,
.chooseDeliveryPartner,
.confirmCheckout,
.chooseVoucher {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  opacity: 0;
  display: none;
}

.provideInfo.open,
.chooseAddress.open,
.chooseDeliveryPartner.open,
.confirmCheckout.open,
.chooseVoucher.open {
  display: flex;
  animation: fade-in 0.2s ease-in-out forwards;
}

.provideInfo.close,
.chooseAddress.close .chooseDeliveryPartner.close,
.confirmCheckout.close,
.chooseVoucher.close {
  animation: fade-out 0.2s ease-in-out forwards;
}
.chooseAddressContainer {
  width: 500px;
  background-color: #fff;
  border-radius: 15px;
}

.chooseAddressContainer h2 {
  font-weight: 500;
  font-size: 20px;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.chooseAddressContainer ul {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}

.chooseAddressContainer ul li {
  list-style: none;
  cursor: pointer;
  padding: 5px 15px;
}

.chooseAddressContainer ul li:hover {
  background-color: #f5f5f5;
}

.chooseAddress .selected {
  background-color: #f5f5f5cb;
}

.chooseAddressContainer .chooseAddressButtons {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.checkout .button {
  padding: 7px 19px !important;
}

.checkoutButton {
  padding: 15px 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkoutButton:hover {
  background-color: #00587c !important;
}

.chooseDeliveryPartnerContainer {
  width: 500px;
  border-radius: 15px;
  background-color: #fff;
}

.chooseDeliveryPartner .chooseDeliveryPartnerHeading {
  font-weight: 500;
  font-size: 20px;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.chooseDeliveryPartner ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 0;
}
.chooseDeliveryPartner ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chooseDeliveryPartner ul li .deliveryPartnerLeft {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px 15px;
}

.chooseDeliveryPartner ul li:hover {
  background-color: #f0f2f5;
}

.chooseDeliveryPartner ul li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.chooseDeliveryPartner ul li h2 {
  font-weight: 500;
  font-size: 18px;
}

.chooseDeliveryPartner ul li span {
  font-size: 14px;
}

.chooseDeliveryPartner ul li .deliveryPartnerRight {
  padding: 10px 15px;
}

.chooseDeliveryPartner ul li .deliveryPartnerRight span {
  font-size: 18px;
  font-weight: 500;
}
.provideInfo {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  opacity: 1;
  display: none;
  align-items: center;
  justify-content: center;
}

.provideInfoContainer {
  width: 550px;
  background-color: #fff;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.provideInfo.popup {
  animation-name: fade-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.provideInfoContainer img {
  width: 100px;
  height: 100px;
}

.provideInfoContainer h2 {
  font-size: 20px;
  font-weight: 500;
  color: red;
}

.provideInfoContainer span {
  font-size: 15px;
  font-weight: normal;
}

.confirmCheckoutContainer {
  width: 500px;
  height: 500px;
  border-radius: 15px;
  background-color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.confirmCheckout .confirmTitle {
  font-weight: 500;
  font-size: 30px;
  padding-bottom: 20px;
}

.confirmCheckout .confirmImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.confirmCheckout .confirmImage img {
  width: 100px;
  height: 100px;
}

.confirmCheckout .confirmImage .confirmText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.confirmCheckout .confirmImage .confirmText h2 {
  font-weight: 500;
  font-size: 20px;
}

.confirmCheckout button {
  border-radius: 25px;
  background-color: #0c1d26;
  color: #fff;
  font-weight: 500;
  padding: 15px 25px !important;
}

.chooseVoucherContainer {
  width: 500px;
  height: 500px;
  border-radius: 15px;
  background-color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 20px;
}

.chooseVoucherContainer > h2 {
  font-weight: 500;
  font-size: 25px;
  padding: 15px;
  text-align: center;
  width: 100%;
}
.chooseVoucherContainer .vouchersToAdd {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: scroll;
}

.chooseVoucherContainer .voucherCheck {
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chooseVoucherContainer .voucherCheckContainer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chooseVoucherContainer .chooseVoucherButtons {
  display: flex;
  gap: 10px;
}

.chooseVoucherContainer .chooseVoucherButtons button {
  padding: 13px 23px !important;
}

.chooseVoucherContainer .chooseVoucherButtons button.cancel {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

.chooseVoucherContainer .chooseVoucherButtons button.cancel:hover {
  background-color: #f0f2f5;
}

.confirmCheckout button:hover {
  background-color: #00587c;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes popup {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@media screen and (min-width: 1700px) {
  .checkoutContainer {
    width: 65%;
  }
}

@media screen and (max-width: 768px) {
  .checkout .voucherOptionContainer .chosenVouchers {
    flex-direction: column;
  }
}
