.adminCreateVoucher {
  background-color: #f5f5f7;
  width: 100%;
  padding: 20px 0;
  min-height: calc(100vh - 70px);
}

.adminCreateVoucherContainer {
  width: 80%;
  margin: auto;
  background-color: #ffffff;
  border-radius: 8px;
}

.adminCreateVoucherTitle {
  padding: 20px;
  border-bottom: 1px solid lightgray;
  font-size: 25px;
  font-weight: 600;
}

.adminCreateVoucherBody {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 150px;
  gap: 20px;
}

.adminCreateVoucherLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.adminCreateVoucherLeft tbody {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.adminCreateVoucherLeft tr {
  display: flex;
  gap: 25px;
}

.adminCreateVoucherLeft tr .updateHeading {
  width: 150px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
}

.adminCreateVoucherLeft tr td input:focus,
textarea:focus {
  outline: none;
}

.adminCreateVoucherLeft tr td .inputField {
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 8px;
  width: 300px;
  display: flex;
}

.adminCreateVoucherLeft tr td .inputField input {
  width: 80%;
  padding-left: 5px;
}

.adminCreateVoucherLeft tr td .inputField .inputCharacter {
  border-left: 1px solid lightgray;
  padding-left: 10px;
  padding-right: 5px;
}

.adminCreateVoucherLeft tr td textarea {
  border: 1px solid lightgray;
  padding: 10px 60px 50px 10px;
  border-radius: 8px;
  width: 350px;
}

.adminCreateVoucherLeft .saveBtn {
  width: 130px;
  background-color: #232f3e;
  padding: 10px 15px;
  color: white;
  border-radius: 6px;
  font-weight: 400;
}

.adminCreateVoucherLeft .saveBtn:hover {
  background-color: #00587c;
}

.adminCreateVoucherRight {
  flex: 4;
}

.voucher {
  width: 420px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.5); */
  border: 0.25px solid #ccc;
  margin: auto;
}


.voucherLeft {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 9;
  position: relative;
}

.voucherLeft::before {
  content: "";
  width: 6px;
  height: calc(100% - 5px);
  position: absolute;
  top: 2.5px;
  background-image: radial-gradient(#fff 2px,transparent 0);
  background-size: 6px 6px;
  background-position-x: -6px;
  left: -3px;
}

.voucherImage {
  max-width: 110px !important;
  min-width: 110px !important;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(43, 223, 186);
  gap: 5px;
}

.voucherImage img {
  width: 45px;
  height: 45px;
}

.voucherImage span {
  font-weight: 500;
  color: #fff;
  font-size: 13px;
  text-align: center;
}

.voucherInfo {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  gap: 10px;
  height: 100%;
}

.voucherBasicInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.voucherInfo .voucherPercent {
  font-weight: bolder;
  font-size: 16px;
}

.voucherInfo .voucherDescription {
  font-size: 13px;
  color: gray;
  line-height: 1.2;
  padding-right: 10px;
}

.voucherInfo .voucherExpired {
  color: red;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.voucherRight {
  flex: 2;
  display: flex;
  align-self: flex-start;
  justify-self: flex-end;
  padding: 10px;
}

.voucherRight span {
  text-align: right;
  font-size: 14px;
  color: gray;
}
@media screen and (max-width: 1400px) {
  .adminCreateVoucherBody {
    flex-direction: column;
  }
}

@media screen and (max-width: 950px) {
  .adminCreateVoucherContainer {
    width: 100%;
  }
}
