.searchResult {
  width: 100%;
  background-color: #f5f5f5;
  min-height: calc(100vh - 70px);
}

.searchResultContainer {
  width: 80%;
  margin: auto;
  padding: 20px 0;
  height: auto;
  min-height: calc(100vh - 70px);

}

.searchResult .searchStore {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: auto;
  padding-bottom: 15px;
}

.searchResult .searchStore > span {
  font-weight: 500;
  font-size: 18px;
}

.searchResult .singleStore {
  display: flex;
  flex-direction: column;
  
  gap: 10px;
}

.searchResult .singleStore li {
  list-style: none;
  display: flex;
  background-color: #ffffff;
  padding: 25px;
  cursor: pointer;
  border-radius: 10px;
  width: 75%;
  margin: auto;
  justify-content: space-between;
}

.searchResult .singleStore li .storeLeft {
  display: flex;
  gap: 10px;
  align-items: center;
}

.searchResult .singleStore li .storeLeft img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.searchResult .singleStore li .storeLeft .storeLeftInfo {
  display: flex;
  flex-direction: column;
}

.searchResult .singleStore li .storeLeft .storeLeftInfo h2 {
  font-size: 20px;
  font-weight: 500;
}

.searchResult .singleStore li .storeLeft .storeLeftInfo > div {
  display: flex;
  flex-direction: column;
}


.searchResult .singleStore li .storeLeft .storeLeftInfo span {
  font-size: 14px;
  color: gray;
  line-height: 17px;
}

.searchResult .singleStore li .storeRight {
  display: flex;
  gap: 10px;
  align-items: center;
}

.searchResult .singleStore li .storeRightItem {
  border-left: 1px solid #ccc;
  padding-left: 20px;
  padding-right: 5px;
}

.searchResult .singleStore li .storeRightItem h4 {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  color: #009D7A;
}

.searchResult .singleStore li .storeRightItem > span {
  font-size: 14px;
}

.searchResult .searchStore .showStoreButtons {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

.searchResult .product {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.searchResult .product > span {
  font-size: 18px;
  font-weight: 500;
}

.searchResult .product ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.searchResult .noResult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchResult .noResult img {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.searchResult .noResult span {
  font-size: 24px;
  font-weight: 500;
  margin-top: -40px;
}

.fullLoading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px);
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media screen and (min-width: 1700px) {
  .searchResultContainer {
    width: 70%
  }
}

@media screen and (max-width: 768px) {
  .searchResult .singleStore li {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}