.customerReviews ul li {
  display: flex;
  justify-content: space-between;
}

.customerReviews ul li .reviewInfo {
  display: flex;
  gap: 15px;
}

.customerReviews ul li .reviewLeft img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.customerReviews .customerImages {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 15px;
}

.customerReviews .customerImages img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
}

.customerReviews .reviewRight .customerName {
  font-weight: 500;
}

.customerReviews ul li .reviewOptions {
  display: flex;
}

.customerReviews ul li .reviewOptions .reviewButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customerReviews ul li .reviewOptions .reviewButton:hover {
  background-color: #f0f2f5;
}

.customerReviews .editReviewInput {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin-top: 5px;
}

.customerReviews .editReviewInput:focus {
  outline: none;
}

