.homepage {
  width: 100%;
}

.homepageContainer {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #F5F5F5;
}

.homepageBody {
  width: 80%;
  position: absolute;
}

@media screen and (min-width: 1700px) {
  .homepageBody {
    width: 70%;
  }
}